# 服务启动端口
APP_PORT=6586
# websocket端口
WS_SERVER_PORT=7651
# 请求协议
SCHEME=https
# 请求端口
PORT=443
# 请求域名
DOMAIN=api.daixu.cn
# 资源存放路径
ASSET_DIR=/Users/daixu/Documents/Assets/Blog
# 资源获取路径前缀(需要通过nginx之类代理工具转发你的文件地址，使该路径可以正常访问)
ASSET_PREFIX=https://api.daixu.cn

# mysql-地址
MYSQL_HOST=127.0.0.1
# mysql-名称
MYSQL_DATABASE=blog
# mysql-用户名
MYSQL_USER=root
# mysql-密码
MYSQL_PASSWORD=123456

# redis-端口
REDIS_PORT=6379
# redis-地址
REDIS_HOST=127.0.0.1
# redis-密码
REDIS_PASSWORD=123456
# redis-网络协议：4 (IPv4)、6 (IPv6)
REDIS_FAMILY=4
# redis-要使用的数据库索引
REDIS_DB=7

# jsonwebtoken 密钥
JWT_SECRET_KEY=375a123456789

# 第三方 QQ 授权登录配置信息
SECRET_QQ_APPID=10123456789
SECRET_QQ_APPKEY=b8b8f84aee123456789
# 第三方 GitHub 授权登录配置信息
SECRET_GITHUB_CLIENTID=52a6123456789
SECRET_GITHUB_CLIENTSECRET=bcc3123456789

# 邮件服务-阿里云企业邮箱
EMAIL_HOST=smtp.qiye.aliyun.com
# 邮件服务-阿里云企业邮箱端口
EMAIL_PORT=465
# 邮件服务-阿里云企业邮箱账号
EMAIL_USER=12345@qq.com
# 邮件服务-阿里云企业邮箱密码
EMAIL_PASSWORD=123456789
