<div id="DAIXU-EMAIL" style="display: flex; justify-content: center">
  <div
    class="DAIXU-container"
    style="
      width: 660px;
      box-sizing: border-box;
      border: 1px solid #f6f6f6;
      background-color: #f7f8fa;
      padding: 20px 20px 30px 20px;
      display: flex;
      flex-direction: column;
    "
  >
    <div class="DAIXU-logo">
      <img
        src="https://api.daixu.cn/image/logo.png"
        alt="LOGO"
        style="width: 80px; object-fit: contain; display: inline-block; margin-left: 1px"
      />
    </div>
    <div
      class="DAIXU-content"
      style="
        margin-top: 30px;
        border: 1px solid #f6f6f6;
        border-top: 2px solid #9fa3f1;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 1px 1px 0 rgba(122, 55, 55, 0.2);
        font-family: 'helvetica neue', PingFangSC-Light, arial, 'hiragino sans gb',
          'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
        color: #333;
        font-size: 14px;
        line-height: 24px;
        word-wrap: break-word;
        word-break: break-all;
      "
    >
      {{{content}}}
      <div
        class="DAIXU-sender"
        style="
          color: #333;
          font-size: 14px;
          line-height: 26px;
          word-wrap: break-word;
          word-break: break-all;
          margin-top: 32px;
        "
      >
        <strong>Good Luck,</strong><br /><strong>DAIXU BLOG</strong>
      </div>
    </div>
    <div
      class="DAIXU-footer"
      style="margin-top: 30px; color: #666; font-size: 12px; text-align: center"
    >
      <p>
        反馈邮箱:
        <a
          href="mailto:daixu.cn@outlook.com"
          target="_blank"
          style="color: #9fa3f1; font-weight: initial; cursor: pointer; text-decoration: none"
        >daixu.cn@outlook.com</a>
      </p>
      <p style="line-height: 1.8em;">
        如果您希望不再收到
        <a href="https://daixu.cn" target="_blank" style="color: #666; text-decoration: none">DAIXU
          BLOG</a>
        的电子邮件:
        <a
          href="https://daixu.cn/account"
          target="_blank"
          style="color: #9fa3f1; font-weight: initial; cursor: pointer; text-decoration: none; word-break: keep-all;"
        >关闭邮箱服务 </a>
      </p>
    </div>
  </div>
</div>